
@{
    ViewData["Title"] = "Messages";
}

<div class="head-section">
    <div class="headLeft-section">
        <div class="headLeft-sub">
            <input type="text" name="search" placeholder="Search...">
            <button> <i class="mdi mdi-magnify"></i> </button>
        </div>
    </div>
    <div class="headRight-section">
        <div class="headRight-sub">
            <h3>Orange</h3>
            <small>Orange Coding School</small>
        </div>
    </div>
</div>
<div class="body-section">
    <div class="left-section mCustomScrollbar" data-mcs-theme="minimal-dark">
        <ul>
            <li class="active">
                <div class="chatList">
                    <div class="img">
                        <img src="~/Images/Orange.png">
                    </div>
                    <div class="desc">
                        <small class="time">05:30 am</small>
                        <h5>Orange</h5>
                        <small>Orange Coding School</small>
                    </div>
                </div>
            </li>
            <li>
                <div class="chatList">
                    <div class="img">
                        <img src="~/Images/Maestors.png">
                    </div>
                    <div class="desc">
                        <small class="time">3 day</small>
                        <h5>Dev Maestros</h5>
                        <small>Development Team</small>
                    </div>
                </div>
            </li>
            <li>
                <div class="chatList">
                    <div class="img">
                        <img src="~/Images/Estarta.jpg">
                    </div>
                    <div class="desc">
                        <small class="time">3 day</small>
                        <h5>Estarta</h5>
                        <small>Great Development Company!</small>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="right-section">
        <div class="message mCustomScrollbar" data-mcs-theme="minimal-dark">
            <ul>
                <li class="msg-left">
                    <div class="msg-left-sub">
                        <img src="~/Images/Orange.png">
                        <div class="msg-desc">
                            Hi, can you provide information on your training programs for our company?
                        </div>
                        <small>05:25 am</small>
                    </div>
                </li>
                <li class="msg-right">
                    <div class="msg-left-sub">
                        <img src="~/Images/HuLogo.png">
                        <div class="msg-desc">
                            Yes, we can customize programs to your needs. Want a brochure?
                        </div>
                        <small>05:25 am</small>
                    </div>
                </li>
                <li class="msg-day"><small>Wednesday</small></li>
                <li class="msg-left">
                    <div class="msg-left-sub">
                        <img src="~/Images/Orange.png">
                        <div class="msg-desc">
                            Yes, please. How long are the programs?
                        </div>
                        <small>05:25 am</small>
                    </div>
                </li>
                <li class="msg-right">
                    <div class="msg-left-sub">
                        <img src="~/Images/HuLogo.png">
                        <div class="msg-desc">
                            They can be a few days to several weeks. Let us know if you have questions. Thank you.
                        </div>
                        <small>05:25 am</small>
                    </div>
                </li>
            </ul>
        </div>
        <div class="right-section-bottom">
            <form>
                <div class="upload-btn">
                    <button class="btn"><i class="mdi mdi-image"></i></button>
                    <input type="file" name="myfile" />
                </div>
                <input type="text" name="" placeholder="type here...">
                <button class="btn-send"><i class="mdi mdi-send"></i></button>
            </form>
        </div>
    </div>
</div>

