@model ChangePassViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            <span class="icon"><i class="mdi mdi-lock"></i></span>
            Change Password  <div asp-validation-summary="All" style="color:red;"></div>
            <span style="color:red;">@ViewBag.err</span>
        </p>
    </header>
    <div class="card-content">
        <form asp-action="ChangePassword" asp-controller="Main">
            <div class="field">
                <label class="label">Current password</label>
                <div class="control">
                    <input asp-for="Current" class="input">
                </div>
                <p class="help"><span asp-validation-for="Current" style="color:red;"></span></p>
                <p class="help">Required. Your current password</p>
            </div>
            <hr>
            <div class="field">
                <label class="label">New password</label>
                <div class="control">
                    <input asp-for="New" class="input">
                </div>
                <p class="help"> <span asp-validation-for="New" style="color:red;"></span></p>
                <p class="help">Required. New password</p>
            </div>
            <div class="field">
                <label class="label">Confirm password</label>
                <div class="control">
                    <input asp-for="ConfirmNew" class="input">
                </div>
                <p class="help"><span asp-validation-for="ConfirmNew" style="color:red;"></span></p>
                <p class="help">Required. New password one more time</p>
            </div>
            <hr>
            <div class="field">
                <div class="control">
                    <button type="submit" class="button green">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
